.recipeComponent {
    width: 250px;
}

.recipeComponent::before{
    opacity: .5;
}

.recipeTitle {
    text-align: center;
    white-space: nowrap;
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: auto;
    margin-right: auto;
}

.recipeImage {
    width: 250px;
    height: 250px;
}